.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #36454F;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-l {
    display: flex;
    gap: 2rem;
    padding-left: 50px;
}

.header-l > h1 {
    color: white;
    font-size: 1em;
    font-weight: 800;
    background-color: #36454F;
}

.header-nav {
    display: flex;
    list-style: none;
    gap: 0.8rem;
    font-size: 1em;
    font-weight: 100;
}

.header-nav a {
    text-decoration: none;
    color: var(--gray);
    
}

.header-nav a:hover {
    cursor: pointer;
    color: white;
}

.header-r {
    color: var(--gray);
    font-size: 1em;
    font-weight: 100;
    padding-right: 50px;
}

.header-r a {
    color: var(--gray);
}

.hire {
    border: 2px solid transparent;
    padding: 10px;
    transition: border-color 0.3s;
    border-radius: 5px;
}

.hire a:hover {
    color: var(--gray);
    
}

.hire:hover {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    border-color: var(--gray);
    
}