.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #36454f;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-l {
    display: flex;
    gap: 2rem;
    background-color: #36454f;
    padding-left: 50px;
    align-items: center;
}

.header-l > h1 {
    color: white;
    font-size: 2em;
    font-weight: 800;
    background-color: #36454f;
}

.header-nav {
    display: flex;
    list-style: none;
    gap: 0.8rem;
    font-size: 1em;
    font-weight: 100;
    background-color: #36454f;
}

.header-nav a {
    text-decoration: none;
    color: var(--gray);
    background-color: #36454f;
}

.header-nav a:hover {
    cursor: pointer;
    color: white;
}

.header-r {
    color: var(--gray);
    font-size: 1em;
    font-weight: 100;
    padding-right: 50px;
    background-color: #36454f;
}

.header-r a {
    color: var(--gray);
    background-color: #36454f;
}

.right-arrow {
    color: var(--gray);
    background-color: #36454f;
}

.hire {
    display: flex;
    border: 2px solid transparent;
    padding: 10px;
    transition: border-color 0.3s;
    border-radius: 5px;
    background-color: #36454f;
}

.hire a:hover {
    color: var(--gray);
}

.hire:hover {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    border-color: var(--gray);
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 0;
    }

    .header-l {
        flex-direction: column;
        padding: 0;
    }

    .header-nav li {
        font-size: small;
    }

    .header-l h1 {
        font-size: large;
    }

    .header-r {
        padding-top: 10px;
        margin-left: 80px;
    }

    .hire {
        font-size: small;
    }
}
