/* make variables */
:root {
  --lightgray: #D9D9D9;
  --gray: #BDBDBD;
  --darkgray: #36454F;
  --navyBlue: #111827;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  --appColor:  #3c3f45;
}

* {
  margin: 0;
  padding: 0;
  background-color: #111827;
}

.app {
  background-color: #111827;
}

a {
  text-decoration: none;
}


